*
{
    box-sizing: border-box;
}

html{
    font-family: 'Times New Roman', Times, serif;
}

.text{
    color: #ffffff;
    font-size: medium;
}

.textfocus{
    color: #ffffff;
    font-size: medium;
    text-align: center;
    font-size: 150%
}

#TitleArea{
    padding: 0.5px;
    background-color: white;
}

#Titlebar {
    padding-left: 45%;
}

#logoImage {
    position:relative;
    top: 18px;
    width: 60px;
}

#twitch { 
    position: relative;
}


#twitchLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top:50px;

}

.focusedtext {
    text-align: justify;
    margin-left: 80%;
    margin-right: -80%;
    margin-top: 50px;
}

#focusedimage {
    top: 150px;
    width: 45%;
    right: 210px;
    position: absolute;
}

.navbar {    
    padding-left: 30px;
    background-color: #D9D9D9;
    overflow: hidden;
    border-bottom: 1px solid #d1d3d5;
    align-items: center;
}

#nav{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    padding: 15px 30px;
    color: #000000;
}

a:hover {
    padding: 15px 30px;
    color: #ffffff;
    background-color: #969696;
}

body.focused-bg {
    background-image: url('focusedBackground.png');
}

body {
    line-height: 1.5;
    margin: 0;
    background-image: url('BlueBackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#homeImage{
    width: 450px;
    position: relative;
    top: 25%;
    left: 100px;
    border-radius: 5%;
    filter: drop-shadow(16px 16px 10px rgb(95, 95, 95));
    margin-top: 20px;
    margin-left: -100px;
}

.boxabout {
    border: solid 1px rgb(255, 255, 255);
    border-radius: 5%;
    background-color: white;
    padding: 10px;
    margin-top: 20px;
    display: block;
    margin-right: 5%;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(10px);
}

.homebox{
    border: solid 1px rgb(255, 255, 255);
    border-radius: 5%;
    background-color: white;
    padding: 10px;
    margin-top: 20px;
    display: block;
    margin-right: 5%;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(10px);
}

.focusedbox {
    border: solid 1px rgb(255, 255, 255);
    border-radius: 5%;
    background-color: white;
    padding: 30px;
    margin-top: 100px;
    display: block;
    margin-right: 75%;
    margin-left: 5%;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(10px);
}

.popbox {
    border: solid 1px rgb(255, 255, 255);
    border-radius: 5%;
    background-color: white;
    padding: 10px;
    margin-top: 50px;
    display: block;
    margin-right: 5%;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(10px);
}

.boxsmall {
    border: solid 1px rgb(255, 255, 255);
    border-radius: 5%;
    background-color: white;
    padding: 10px;
    display: block;
    margin-left: 400%;
    margin-right: -500%;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(10px);
    margin-top: -370px;
}

footer {
    position: absolute;
    bottom: 0px; 
    width: 100%;
    color: #ffffff;
    background-color: #000000;
    padding-left: 20px;
}

.colLeft {
    left: 0px;
}

.colRight {
    right: 0px;
}

.focusimage {
    size: 50%;
}


body {
    line-height: 1.5;
    margin: 0;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body.contact-bg {
    background-image: url('contactBackground.png');
}

html{
    font-family: 'Times New Roman', Times, serif;
}

#TitleArea{
    padding: 2px;
    background-color: white;
}

#Titlebar {
    padding-left: 45%;
}

#logoImage {
    position:relative;
    top: 18px;
    width: 60px;
}

.navbar {    
    padding-left: 30px;
    background-color: #D9D9D9;
    overflow: hidden;
    border-bottom: 1px solid #d1d3d5;
    align-items: center;
}

#nav{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    padding: 15px 30px;
    color: #000000;
}

a:hover {
    padding: 15px 30px;
    color: #ffffff;
    background-color: #969696;
}

.box{
    border: solid 2px rgb(255, 255, 255);
    border-radius: 30px;
    background-color: white;
    padding: 10px;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    width: 400px;
    height: 350px;
    margin-left: 90%;
    width: 50%;
    display: block;
    margin-top: 10px;
}

.bigbox {
    border: solid 2px rgb(255, 255, 255);
    border-radius: 30px;
    background-color: white;
    padding: 10px;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    width: 400px;
    height: 250px;
    display: block;
    margin-top: 10px;
}

.bigbox1 {
    border: solid 2px rgb(255, 255, 255);
    border-radius: 30px;
    background-color: white;
    padding: 10px;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    width: 400px;
    height: 250px;
    display: block;
    margin-top: 10px;
    ;
}

.boxabout {
    border: solid 2px rgb(255, 255, 255);
    border-radius: 30px;
    background-color: white;
    padding: 10px;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(10px);
    width: 600px;
    height: 400px;
    margin-left: 10%;
    display: block;
    margin-top: 30px;
}

.boxform {
    border: solid 2px rgb(255, 255, 255);
    border-radius: 30px;
    background-color: white;
    padding: 10px;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    width: 500px;
    height: 400px;
    margin-left: 85%;
    display: block;
    margin-top: 50px;
}

.text{
    text-align: center;
    color: #ffffff;
}


footer {
    position: fixed;
    bottom: 0px; 
    left: 0px;
    width:100%;
    color: #ffffff;
    background-color: #000000;
    padding-left: 20px;
}


