*
{
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    margin: 0;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body.contact-bg {
    background-image: url('contactBackground.png');
}

html{
    font-family: 'Times New Roman', Times, serif;
}

#TitleArea{
    padding: 2px;
    background-color: white;
}

#Titlebar {
    padding-left: 45%;
}

#logoImage {
    position:relative;
    top: 18px;
    width: 60px;
}

.navbar {    
    padding-left: 30px;
    background-color: #D9D9D9;
    overflow: hidden;
    border-bottom: 1px solid #d1d3d5;
    align-items: center;
}

#nav{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    padding: 15px 30px;
    color: #000000;
}

a:hover {
    padding: 15px 30px;
    color: #ffffff;
    background-color: #969696;
}

.box{
    border: solid 2px rgb(255, 255, 255);
    border-radius: 30px;
    background-color: white;
    padding: 10px;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    width: 400px;
    height: 350px;
    margin-left: 90%;
    width: 50%;
    display: block;
    margin-top: 10px;
}

.boxabout {
    border: solid 2px rgb(255, 255, 255);
    border-radius: 30px;
    background-color: white;
    padding: 10px;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(10px);
    width: 600px;
    height: 400px;
    margin-left: 10%;
    display: block;
    margin-top: 30px;
}

.boxform {
    border: solid 2px rgb(255, 255, 255);
    border-radius: 30px;
    background-color: white;
    padding: 10px;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    width: 500px;
    height: 400px;
    margin-left: 85%;
    display: block;
    margin-top: 50px;
}

.text{
    text-align: center;
    color: #ffffff;
}


footer {
    position: fixed;
    bottom: 0px; 
    left: 0px;
    width:100%;
    color: #ffffff;
    background-color: #000000;
    padding-left: 20px;
}


